<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.cszt0.pb">

    <application
        android:name=".PBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PB">
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.UpgradeActivity" android:launchMode="singleTask" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HelloActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.RecordDetailActivity" />
        <activity android:name=".ui.NoteDetailActivity" />
        <activity
            android:name=".ui.BuiltInWebActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.RandomPasswordActivity" />
    </application>

</manifest>